@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

body {
  font-family: 'Rocher';
  text-align: center;
  font-size: 15px;
  height: 95vh; /* Adjusted height to accommodate larger game board */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 36px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-bottom: 20px; /* Added margin to separate the title from the game */
}

.snakegame {
  font-family: 'Rocher';
  text-align: center;
  font-size: 30px;
  height: 60vh; /* Adjusted height to make the game board larger */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tutorial {
  margin-top: 10px; /* Adjust the margin */
}

#tutorial h2 {
  font-size: 15px; /* Adjust the font size */
}

#tutorial p {
  margin-bottom: 14px; /* Adjust the margin */
}

#tutorial ul {
  list-style-type: none;
  padding-left: 0;
}

#tutorial li {
  margin-bottom: 3px; /* Adjust the margin */
}

.arrow {
  font-size: 16px; /* Adjust the font size */
}

.startOverBtn {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 2rem; /* Adjust the height */
  padding: calc(.75rem - 1px) calc(1rem - 1px); /* Adjust the padding */
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.startOverBtn,
.startOverBtn {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.startOverBtn {
  transform: translateY(-1px);
}

.startOverBtn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
